<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iCycle.Properties.Settings.iCycleConnectionString"
            connectionString="Data Source=(local);Initial Catalog=iCycle;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>